<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421757948599-rj5rgdar4pfn2egu85d0hpjnolfbo31n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421757948599-rj5rgdar4pfn2egu85d0hpjnolfbo31n</string>
	<key>API_KEY</key>
	<string>AIzaSyAa152t33dwBouRyMHT9b922YHTxsXEqAo</string>
	<key>GCM_SENDER_ID</key>
	<string>421757948599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appmess</string>
	<key>PROJECT_ID</key>
	<string>appmess-41bfb</string>
	<key>STORAGE_BUCKET</key>
	<string>appmess-41bfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421757948599:ios:8e3d22a439c58150653332</string>
</dict>
</plist>